<!-- TIPO DE RESPOSTA -->
<section class="card__multipla--escolha">
    <h2>Resposta</h2>
    
    <label for="radio-escolha" class="card__multipla custom__radio custom__radio">
        <input type="radio" name="tipo_resposta" value="MES" id="radio-escolha" checked="checked">Múltipla Escolha
        <span class="checkmark"></span>
    </label>

    <label for="radio-completa" class="card__multipla custom__radio">
        {% if form.tipo_resposta.value == 'RCO' %}
            <input type="radio" name="tipo_resposta" value="RCO" id="radio-completa" checked>Refêrencia Completa
        {% else %}
            <input type="radio" name="tipo_resposta" value="RCO" id="radio-completa">Refêrencia Completa
        {% endif %}
        <span class="checkmark"></span>
    </label>

    <label for="radio-livro-capitulo" class="card__multipla custom__radio">
        {% if form.tipo_resposta.value == 'RLC' %}
            <input type="radio" name="tipo_resposta" value="RLC" id="radio-livro-capitulo" checked>Referência Livro-Capítulo
        {% else %}
            <input type="radio" name="tipo_resposta" value="RLC" id="radio-livro-capitulo">Referência Livro-Capítulo
        {% endif %}
        <span class="checkmark"></span>
    </label>

    <label for="radio-simples" class="card__multipla custom__radio">
        {% if form.tipo_resposta.value == 'RES' %}
            <input type="radio" name="tipo_resposta" value="RES" id="radio-simples" checked>Resposta simples
        {% else %}
            <input type="radio" name="tipo_resposta" value="RES" id="radio-simples">Resposta simples
        {% endif %}
        <span class="checkmark"></span>
    </label>
</section>
