<!-- TIPO DE RESPOSTA -->
<section class="card__multipla--escolha">
    <h2 class="escolha__resposta">Resposta</h2>
    
    <label for="radio-escolha" class="card__multipla">
        <input type="radio" name="tipo_resposta" value="MES" id="radio-escolha" class="radio-escolha" checked="checked">Múltipla Escolha
    </label>

    <label for="radio-completa" class="card__multipla">
        <input type="radio" name="tipo_resposta" value="RCO" id="radio-completa">Refêrencia Completa
    </label>

    <label for="radio-livro-capitulo" class="card__multipla">
        <input type="radio" name="tipo_resposta" value="RLC" id="radio-livro-capitulo">Referência Livro-Capítulo
    </label>

    <label for="radio-simples" class="card__multipla">
        <input type="radio" name="tipo_resposta" value="RES" id="radio-simples">Resposta simples
    </label>
</section>
