{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Minhas Perguntas {% endblock %}

{% block content %}
    <h1 class="titulo__padrao">Adicionar Pergunta</h1>

    <form method="post">{% csrf_token %}
        {{ form.tema }}
        {{ form.enunciado }}
        {{ form.tipo_resposta }}

        {{ formset.management_form }}

        <h1 class="titulo__padrao">Adicionar alternativas</h1>
        {% for alternativa in formset %}
        <div class="inlineform">
            <hr>
            {{ alternativa|crispy }}
        </div>
        {% endfor %}

        <h1 class="titulo__padrao">Referência</h1>
        <select name="livro" class="input__padrao">
            {% for livro in livros %}
            <option value="{{ livro.id }}">{{ livro.nome }}</option>
            {% endfor %}
        </select>
        <select name="livro" class="input__padrao">
            {% for versiculo in versiculos %}
            <option value="{{ versiculo.capitulo }}">{{ versiculo.capitulo }}</option>
            {% endfor %}
        </select>

        <!-- <a class="btn btn-info" id="add-item"><i class="fa fa-plus"></i> Add Item</a> -->

        <input type="submit" value="Salvar">
    </form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ formset.prefix }}',
            addText: 'Adicionar nova alternativa',
            deleteText: 'Remover',
        });
    })
</script>
{% endblock scripts %}
