{% extends "base.html" %}

{% block title %} Minhas Perguntas {% endblock %}

{% block content %}
<article class="pergunta__texto">
        {% include 'partials/_header.html' %}
        <h1>Minhas Perguntas</h1>

        {% for pergunta in object_list %}
            <div class="pergunta__container">
                <div class="caixa__texto">
                    <div class="txt__pergunta">
                        <div cols="230" rows="5" id="mensagem" class="caixa-pergunta__resposta">
                            <div class="enunciado"><strong>{{ pergunta.enunciado }}</strong></div>

                            {% for alternativa in alternativas %}
                                {% if alternativa.alternativas_id == pergunta.id %}
                                    {% if alternativa.alternativas_corretas %}
                                        <div class="alternativas"><strong>R:</strong>{{ alternativa }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for sigla, label in pergunta.TIPO_RESPOSTA %}
                                {% if sigla == pergunta.tipo_resposta %}
                                    <div class="tipo_resposta"><strong>Tipo: </strong>{{ label }}</div>
                                {% endif %}	
                            {% endfor %}
                        </div>
                    </div>

                    {% if pergunta.aprovado_status %}
                        <label class="btn__conf"><p class="btn__revisado">Revisado</p></label>
                    {% else %}
                        <label class="btn__conf"><p class="btn__enviado">Enviado</p></label>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </article>

{% endblock %}
