{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Atualizar Pergunta {% endblock %}

{% block content %}
    <h1 class="titulo__padrao">Atualizar Pergunta</h1>

    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Update">

        {{ formset.management_form }}
        {% for alternativa in formset %}
        <div class="inlineform">
            <hr>
            {{ alternativa|crispy }}
        </div>
        {% endfor %}

    </form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ formset.prefix }}',
            addText: 'Adicionar nova alternativa',
            deleteText: 'Remover',
        });
    })
</script>
{% endblock scripts %}