{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %} Atualizar Pergunta {% endblock %}

{% block content %}
    <h1 class="titulo__padrao">Atualizar Pergunta</h1>

    <form method="post">{% csrf_token %}
        {{ form.tema|add_class:"input__padrao select form-control"|safe }}
        
        {{ form.enunciado|add_class:"input__padrao form-control"|safe  }}
    
        {% include 'perguntas/partials/_alternativa.html' %}
    
        <section class="parte__referencia" id="section_referencia">
            {% if referencia_form %}
                {{ versiculo_form|add_class:"input__padrao select form-control"|safe}}
            {% endif %}
            {% if form.outras_referencias %}
                <section class="" id="section_textual">
                    {{ form.outras_referencias|add_class:"input__padrao form-control"|safe }}
                </section>
            {% endif %}
        </section>

        <div class="btn__pg">
            <div class="botao__adicionar">
                <button type="submit" class=" btn__pg--adicionar" id="btn_salvar"><a>Update</a></button>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ formset.prefix }}',
        });
    })

    // $(function() {
    //     const selected_tipo_resposta = "{{ form.tipo_resposta.value }}"
    //     if (selected_tipo_resposta == 'MES') {
    //         $('#radio-escolha').attr('checked', 'checked');
    //     }
    //     if (selected_tipo_resposta == 'RCO') {
    //         console.log('deu certo')
    //         $('#radio-completa').attr('checked', 'checked');
    //     }
    //     if (selected_tipo_resposta == 'RLC') {
    //         $('#radio-livro-capitulo').attr('checked', 'checked');
    //     }
    //     if (selected_tipo_resposta == 'RES') {
    //         $('#radio-simples').attr('checked', 'checked');
    //     }
    // });

</script>
{% endblock %}