{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}
    <header>    
        <img src="../../media\Logo_Login.jpeg" alt="Jogo da Biblia" class="logo__login">
    </header>

    
    <form method="post">
        <article class="pagina__login">
            <h1 class="titulo__padrao">Login</h1>
            <p class="username__senha">
                Colabore conosco. Digite abaixo seu usuário e senha para começar a
                cadastrar suas perguntas.</p>

            {% csrf_token %}
            {{ form|crispy }}
            <div class="botao--entrar">
                <button class="botao__entrar" type="submit"><a class="link__entrar">Entrar</a></button>
            </div>
        </article>
    </form>
{% endblock %}
