autopep8
Django==3.2.*
django-allauth==0.50.0
django-cors-headers
django-crispy-forms==1.14.0
django-filter
django-graphql-jwt==0.4.0
django-graphiql==0.4.4
django-guardian
django-widget-tweaks==1.4.12
djangorestframework
graphene-django==3.2.1
gunicorn
markdown
model-bakery
Pillow
psycopg2-binary
pyyaml
Pygments
pytest
pytest-django
pytest-mock
python-decouple
python-dotenv
python-gettext
uritemplate
xhtml2pdf
