Django==3.1.*
djangorestframework
markdown
django-filter
django-guardian
Pygments
python-dotenv
gunicorn
autopep8
django-sass
Pillow
django-cors-headers
pyyaml
uritemplate
xhtml2pdf
pymysql
python-gettext
psycopg2==2.9.3
django-allauth==0.50.0
django-crispy-forms==1.14.0
django-widget-tweaks==1.4.12
