Django==3.1.*
djangorestframework
djangorestframework-simplejwt
djangorestframework-camel-case
markdown
django-filter
django-url-filter
django-guardian
drf-yasg
Pygments
python-dotenv
gunicorn
autopep8
django-sass
Pillow
django-cors-headers
pyyaml
uritemplate
xhtml2pdf
pymysql
python-gettext
graphene_django
psycopg2==2.9.3
django-crispy-forms==1.14.0
django-widget-tweaks==1.4.12
